*{
    margin: 0;
    padding: 0;
    background-color: #222831;
}

#js-clock{
    height: 90vh;
}

#digital-clock{
    height: 60vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Orbitron', sans-serif;
    color: #00c4cb;
    font-size: 2.5em;
    font-weight: bold;
    text-shadow: 0 0 15px #00c4cb;
}

#alarm-clock{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 10vh;
}

#alarm-clock select{
    margin-left: 20px;
    border: 3px solid #00c4cb;
    color: #00c4cb;
    padding: 10px;
    border-radius: 10px;
}

#alarm-btn{
   background-color: #00c4cb;
    color: #222831;
    padding: 10px;
    border-radius: 10px;
}